/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    font-family: 'Raleway',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p{
    font-size: 16px;
    line-height: 35px;
}

input{
    border-radius: 5px;   
    background-color: #DDDDDD;
    padding: 10px;
    font-size: 16px;
    color: #333333;
    margin: 10px;
}

button{
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 16px;
}

li{
    list-style-type: none;
}

a{
    color: #333333;
    text-decoration: none;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

header{
    width: 100vw;
    height: 60px;
    border-bottom: solid 1px;
    border-color: #DDDDDD;
}

#interesses{
    display: flex;
    background-color: #DDCCFF;  
    min-height: 100vh;  
}

.nav-bar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}
.nav-bar>ul>li{
    margin-right: 10px;
    display: inline-block;
}

.logo{
    width: 150px;
}

/*Login*/
#section-login{
    width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.form-login{
    text-align: center;
}

.input-login{
    background-color: #FFFFFF;
}

.form-login>img{
    width:20vw;
}
/*ícones*/

.inputIcon{
    position: relative;
}

.inputIcon>i{
    position: absolute;
    top:10px;
    padding: 10px 10px 0 20px;
    color: #767676;
}

.inputIcon>input{
    width: 25vw;
    border: 0;
    background-color: #DDDDDD;
    padding-left: 40px;
}

.button-login{
    background-color: #FF3859;
    padding:10px 40px 10px 40px ;
    color: #FFFFFF;
}

/*Itens de galeria*/

.item-galeria{
    width: 25vw;
}

.galeria>ul{
    display:flex;    
    flex-wrap: wrap;
}

.item-galeria>img{
    width:100%;
}

.icon-ball{
    background: #333333;
    color: #DDDDDD;
    border-radius: 180px;
    padding: 10px;
}

/*Rodapé*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #FF3859;
    color: #FFFFFF;
    width: 100vw;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .form-login>img{
        width:50vw;
    }

    .inputIcon>input{
        width: 70vw;
    }
}